#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select eeprom/parameters_10016
# param import
#param select parameters.bson
param import


#param set SENS_BOARD_ROT 0

# system_power unavailable
param set-default CBRK_SUPPLY_CHK 894281

# Disable safety switch by default
param set-default CBRK_IO_SAFETY 22027

# broadcast to LAN
# always keep current config
param set SYS_AUTOCONFIG 0
# useless but required for parameter completeness
param set MAV_TYPE 2
param set SYS_AUTOSTART 10016

# param set MPC_LAND_SPEED 0.8
# param set LNDMC_Z_VEL_MAX 0.8

param set EKF2_MULTI_IMU 1
param set IMU_GYRO_RATEMAX 400

#param set PWM_MAIN_MIN1 1040
#param set PWM_MAIN_MIN2 1040
#param set PWM_MAIN_MIN3 1040
#param set PWM_MAIN_MIN4 1040



dataman start

load_mon start

battery_status start

# internal IMU
# icm20948_i2c_passthrough -I start
# ak09916 -X -q start

mpu6500 -s start

#icm20602 -s -R 0 start
# icm20689 -s -R 0 start
#ms5611 -s start

qmc5883l -I start

# hmc5883 -T -I  -R 0 start
#ist8310 -X -R 8 start
#ina226 -X -t 1 -k -a 0x40 start

# Optical flow
# pmw3901 -s start
# vl53l1x -X start

pca9685_pwm_out start
#linux_pwm_out start

mixer load /dev/pwm_output0 etc/mixers/quad_x.main.mix

rc_input start -d /dev/ttyS2

rc_update start
manual_control start

sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

udp_gcs_port_local=14556

mavlink start -x -u 14556 -r 4000000 -p -f
# mavlink stream -u 14556 -s ATTITUDE 		-r 100
# mavlink stream -u 14556 -s DISTANCE_SENSOR 	-r 5
# mavlink stream -u 14556 -s LOCAL_POSITION_NED 	-r 100
# mavlink stream -u 14556 -s OPTICAL_FLOW_RAD	-r 50

mavlink stream -r 10 -s POSITION_TARGET_LOCAL_NED -u $udp_gcs_port_local
mavlink stream -r 10 -s LOCAL_POSITION_NED -u $udp_gcs_port_local
mavlink stream -r 10 -s GLOBAL_POSITION_INT -u $udp_gcs_port_local
mavlink stream -r 10 -s ATTITUDE -u $udp_gcs_port_local
mavlink stream -r 10 -s ATTITUDE_QUATERNION -u $udp_gcs_port_local
mavlink stream -r 10 -s ATTITUDE_TARGET -u $udp_gcs_port_local
mavlink stream -r 10 -s SERVO_OUTPUT_RAW_0 -u $udp_gcs_port_local
mavlink stream -r 10 -s RC_CHANNELS -u $udp_gcs_port_local
mavlink stream -r 10 -s OPTICAL_FLOW_RAD -u $udp_gcs_port_local
mavlink stream -r 10 -s VIDEO_MONITOR  -u $udp_gcs_port_local

# mavlink start -d /dev/ttyS3 -b 115200 -m minimal

logger start -t -b 200

mavlink boot_complete
