
# param set MPC_LAND_SPEED 0.8
# param set LNDMC_Z_VEL_MAX 0.8

param set EKF2_MULTI_IMU 1
param set IMU_GYRO_RATEMAX 400

param set PWM_MAIN_MIN1 1040
param set PWM_MAIN_MIN2 1040
param set PWM_MAIN_MIN3 1040
param set PWM_MAIN_MIN4 1040



dataman start

load_mon start

battery_status start

# internal IMU
icm20602 -s -R 0 start
# icm20689 -s -R 0 start
ms5611 -s start

# hmc5883 -T -I  -R 0 start
ist8310 -X -R 8 start
ina226 -X -t 1 -k -a 0x40 start

# Optical flow
# pmw3901 -s start
# vl53l1x -X start

linux_pwm_out start
mixer load /dev/pwm_output0 etc/mixers/quad_x.main.mix

rc_input start -d /dev/ttyS2

rc_update start
manual_control start

sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -u 14556 -r 4000000 -p
mavlink stream -u 14556 -s ATTITUDE 		-r 100
mavlink stream -u 14556 -s DISTANCE_SENSOR 	-r 5
mavlink stream -u 14556 -s LOCAL_POSITION_NED 	-r 100
mavlink stream -u 14556 -s OPTICAL_FLOW_RAD	-r 50

# mavlink start -d /dev/ttyS3 -b 115200 -m minimal

logger start -t -b 200

mavlink boot_complete
